.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 250px;
    bottom: 250px;
    gap: 20px;
    height: 0px;
    .bunTop {
        z-index: 22;
        margin-bottom: 12px;
    }
    img {
        width: 450px;
        height: 170px;
        position: absolute;
        transform: scale(0.6);
    }
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
    .mainBurger {
        height: 20px;
    }
    .bun {
        img {
            width: 540px;
            height: 175px;
            left: -45px;
        }
    }
}

