.main {
    max-width: 173px;
    max-height: 140px;
    h1 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 58px;
      line-height: 60px;
      color: #1F2939;
      margin: 0;
      margin-top: 100px;
      @media (max-width: 768px){
        font-size: 44px;
        line-height: 40px;
      }
      @media (max-width: 600px){
        margin-top: 48px;
        text-align: center;
        max-width: 100%;
      }
    }
  }
.main-section {
  @media (max-width: 600px){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     img {
      width: 465px;
      height: 445px;
      margin-top: 40px;
     }
  }
}