.section {
    margin: 0;
    position: relative;
    right: 70px;
      button {
        background: #5243C2;
        border-radius: 50%;
        padding: 28px 18px;
        border: none;
        width: 115px;
        height: 115px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        bottom: 157px;
        left: 50px;
        cursor: pointer;
      }
  }