.section {
    margin: 0;
    position: relative;
    right: 70px;
    @media (max-width: 768px){
      max-height: 100%;
      right: -20px;
      bottom: 105px;
    }
    @media (min-width: 1025px) and (max-width: 1075px){
      left: 150px;
      bottom: 105px;
    }
    @media (min-width: 769px) and (max-width: 937px){
      max-height: 100%;
      left: 65px;
      bottom: 105px;
    }
    @media (max-width: 425px){
      right: 0px;
    }
      button {
        background: #5243C2;
        border-radius: 50%;
        padding: 28px 18px;
        border: none;
        width: 115px;
        height: 115px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        bottom: 157px;
        left: 50px;
        cursor: pointer;
        @media (max-width: 768px){
          width: 100px;
          height: 100px;
          font-size: 16px;
          top: 320px;
          left: -15px;
        }
        @media (min-width: 1025px) and (max-width: 1075px){
          top: 420px;
          left: -55px;
        }
        @media (min-width: 769px) and (max-width: 937px){
          top: 420px;
          left: -55px;
        }
        @media (max-width: 600px){
          left: 180px;
        }
      }
  }