.summ {
    width: 300px;
    h2 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
    }
    @media (max-width: 600px){
      width: 100%;
      hr {
        display: none;
      }
      h2 {
        display: none;
      }
    }
  
    hr {
      border: 1px solid;
      border-color: #F5F5FF;
    }
    p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #1F2939;
      margin: 16px 0 20px 0;
      @media (max-width: 600px){
        margin-bottom: 20px;
      }
        span {
          color: red;
        }
    }
    .time {
      background-color: #F5F5FF;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 12px 12px;
      border-radius: 32px;
      @media (max-width: 600px){
        background-color: white;
        padding: 12px 0;
      }
        div {
          display: flex;
          @media (max-width: 845px) and (min-width: 769px){
            display: block;
          }
          @media (max-width: 663px) and (min-width: 600px){
            display: block;
          }
          span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #1F2939;
            margin-left: 4px;
          }
        }
    }
    .sauceMobile{
      width: 100%;
      font-size: 14px;
      border: none;
      color: #FF4D4F;
      background-color: #FFEDED;
      padding: 10px 0;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      cursor: pointer;
       span {
        @media (max-width: 600px){
          font-size: 12px;
          color: #F5F5FF;
          background-color: #FF4D4F;
          border-radius: 19px;
          padding: 6px 7px;
          margin: 0 8px;
        }
       }
    }
  }

  .sauce {
    display: flex;
    align-items: center;
    position: absolute;
    transform: scale(0.6);
    top: 350px;
    left: 548px;
    z-index: 3;
    @media (max-width: 1024px) { 
      transform: scale(0.5);
      left: 370px;
     }
    @media (min-width: 1367px) and (max-width: 1440px) { 
      left: 600px;
    }
    @media (max-width: 768px) { 
      left: 300px;
      right: 320px;
     }
     @media (max-width: 600px) { 
      transform: scale(0.4);
      left: 60%;
      top: 275px;
     }
      p {
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: #FF4D4F;
        span {
          color: #1F2939;
        }
      }
}

.limit {
  display: inline-flex;
  align-items: center;
  background-color: #FFFF;
  box-shadow: 12px 12px 2px 1px rgba(102, 102, 139, 0.2);
  padding: 0px 16px;
  border-radius: 16px;
  position: relative;
  right: 280px;
  bottom: 166px;
  @media (max-width: 1024px) { 
    right: 182px;
   }
   @media (min-width: 1367px) and (max-width: 1440px){ 
    right: 320px;
   }
   @media (max-width: 768px){
    right: 85px;
    bottom: 225px;
  }
   &::after { 
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0; 
    left: 0px; 
    top: 40px; 
    border: 15px solid; 
    border-color: rgb(255, 255, 255) transparent transparent rgb(255, 255, 255); 
  }
   img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
   }
   p {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
   }
}