.main {
    max-width: 173px;
    max-height: 170px;
    h1 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 58px;
      line-height: 60px;
      color: #1F2939;
      margin: 0;
      margin-top: 100px;
    }
  }